<section class="sample-app-content">
  <nav class="navbar navbar-inverse">
    <a [router-link]="['/slider']">Image Slider</a>
    <a [router-link]="['/manager']">Image Manager</a>
    <a [router-link]="['/preview']">Preview</a>
  </nav>

<div class="container">
  <router-outlet class="col-xs-12"></router-outlet>
</div>
</section>
