<div class="row" style="text-align:center;">

  <h1>Slider 2</h1>

<h2>
We show.

</h2>
</div>
<p>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">


      <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src={{currentImg.src}} alt={{currentImg.score}} width="100%" height="100%">
            </div>
          </div>
    </div>

      <br>
Click <a [router-link]="['/manager']">here</a> to manage  images

</p>
