<div class="row" style="text-align:center;">

  <h1>Slider 2</h1>

<h2>
We show.
</h2>
</div>
<p>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li *ng-for="#img of list.get()" data-target="#myCarousel" data-slide-to="" >{{$index}}</li>
      </ol>

      <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div *ng-for="#img of list.get()" class="item">
              <img src={{img.url}} alt={{img.score}} width="460" height="345">
            </div>
          </div>
    </div>

      <br>
Click <a [router-link]="['/manager']">here</a> to manage  images

</p>
