<p>
  Here is a list of awesome images!
</p>

<p>
  You want more? Add them yourself!
</p>
<div class="row">
<form  (submit)="addName(newurl,score)">
  <div class="col-xs-4" form-group">
    <label for="imageurl">Image URL:</label>
  <input class="form-control" id="imageurl" type="url" #newurl>

    <label for="imagescore">Image Score:</label>
  <input class="form-control" id="imagescore" type="number" #score>
  </div>
<div class="col-xs-1" form-group">

  <button type="submit" class="btn btn-default">Add</button>

</div>
</form>
</div>

<h1>Images</h1>
<div class="row">
  <div class="col-xs-5">
<table class=" table table-striped">
    <thead>
      <tr>
        <th>Image URL</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ng-for="#image of list.get()">
        <td> {{image.src}}</td><td> {{image.score}}</td>
      </tr>
</table>
</div>
