
<div class="row">
  .
</div>

<div class="row">
  .
</div>

<div class="row">
  .
</div>
<br>
<div class="row">
  <div class="col-xs-3">
    <h2>
      It's been a long day coming.
    </h2>
  </div>

    <div class="col-xs-3">
    <p>
    After many years of research, we finally understood Angular.
    </p>
    </div>
    <div class="col-xs-3">
    <p>
    And then came Angular 2
    </p>
    </div>
  </div>
