<section class="sample-app-content">
  <nav class="navbar navbar-inverse">
    <a [router-link]="['/home']">Home</a>
    <a [router-link]="['/entities']">Entities</a>
  </nav>

  <router-outlet class="col-xs-12"></router-outlet>
</section>
